body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0; 
    background-color: #FFE8D0;
}

nav {
    height: 5vh; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd; 
}

#banner {
    width: 100vw;
    height: 45vh;
    border: 1px solid #ddd;
}

.categorias {
    width: 20vw;
    height: 100vh;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    padding: 10px; 
}

.products {
    width: 80vw; 
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#productos2 {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-around; 
    padding: 20px; 
    box-sizing: border-box; 
}

#filtros {
    height: 100%;
    width: 100%; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    height: 50px;
    color: #f86779;
    margin-bottom: 20px; /
}

.barrabuscar {
    border-radius: 25px;
    width: 300px;
    height: 30px;
    border: 3px solid #f86779;
}

.productoindividual {
    width: 300px;
    height: 175px;  
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    box-sizing: border-box; 
    background-color: #fff; 
}

.imagenes {
    width: 175px;
    height: 175px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden; 
}

.imagen {
    width: 100%;
    height: auto;
    display: block;
}

.producto-textos2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 140px;
    font-size: 12px;
    padding: 10px; 
}

#cajamadre {
    display: flex;
    width: 100vw;
    height: 100vh;
    border: 1px solid red; 
}