* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 100vh;
    width: 100%;
    background-color: #FFE8D0;
    margin: 0;
    padding: 0;
}

nav {
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}

#caja-imagen {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(pics/crochet\ hero.jpg);
}

#caja-texto {
    width: 43%;
    height: 47%;
    background-color: rgba(247, 248, 250, 0.80);
    backdrop-filter: blur(12px);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#titulo{
    font-family: "Roboto", sans-serif;
    font-weight: 700px;
    font-style: normal;
    margin-bottom: 20px;
}
#caja-imagen-texto-titulo{
    height: 150px;
}

#caja-botones{
    display: flex;
    justify-content: space-around;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#btn-shop {
    background-color: #F37171;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: white;
    cursor: pointer;
    
}
#btn-create {
    background-color: #F37171;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: white;
    cursor: pointer;
    
}

#buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    color: #f86779;
    
}


.barrabuscar{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 500px;
    height: 60px;
    border: 3px solid #f86779;
}

#productos{
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.producto-individual{
    width: 600px;
    height: 350px;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

h2{
    margin: 0;
}

.producto-textos{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.producto-boton{
    background-color: #F37171;
    border-radius: 8px;
    width: 100%;
    height: 10%;
    border: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.imagenes{
    width: 350px;
    height: 350px;
    border-radius: 30px;
    
}

#separacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    color: #f86779;
}

#trending-boton{
    background-color: #F37171;
    border-radius: 30px;
    width: 300px;
    height: 50px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#productos2{
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.producto-individual2{
    width: 350px;
    height: 550px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.producto-textos2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagenes2{
    width: 350px;
    height: 350px;
    border-radius: 30px;
}