body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 100vh;
    width: 100vw;
    background: rgb(255,163,120);
    background: linear-gradient(180deg, rgba(255,163,120,1) 25%, rgba(255,140,125,1) 83%);
    margin: 0;
    padding: 0;
}

nav {
    height: 6%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFE8D0;
    position: absolute;
    top: 0;
    left: 0;
}
#nav1 {
    width: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
#icon {
    height: 20px;
    width: auto;
    margin: 10px;
}
.icons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 10%;
}

.check-out {
    width: 25%;
    height: 85%;
    background-color: rgba(255, 255, 255, 0.58);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.white-bx2 {
    width: 60%;
    height: 85%;
    background-color: white;
    margin: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

#shoparea {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#line {
    width: 328px;
    height: 4px;
    background: #F37070;
}

.carttot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30%;
    margin-left: 8%;
}

#infor {
    font-size: 14px;
}

#pricee {
    font-size: 30px;
}

.check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

#btn-checkout {
    width: 180px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: white;
    background-color: #F37171;
}


#btn-checkout:hover {
    width: 180px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: white;
    background-color: #ff764d;
}

#viejitafeliz {
    position: absolute;
    bottom: 7%;
    width: 25%;
    max-width: 380px;
    height: auto;
}

.section-info {
    margin-left: 8%;
    margin-top: 8%;
    display: grid;
    grid-template-columns: 30% 24% 24% 24%;
    row-gap: 60px;
}