*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    height: 100vh;
    width: 100vw;
    background-color: #FFE8D0;
}

nav {
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#bannerperfil {
    width: 100%;
    height: 30%;
    }

#cajagrande {
width: 100vw;
height: 100vh;
display: flex; 
}

#infoperfil {
width:30vw ;
height: 100vh;
justify-content: center;
}

#derecha {
width: 70vw;
height: 100vh;
}

#barraperfil {
height: 15vh;
width: 70vw;
font-size: 19px;
display: flex;
flex-direction: column;
justify-content: center;
}

#favoritos {
height: 85vh;
width: 70vw;
flex-direction: column;
display: flex;
align-items: center;
justify-content: center;
}

#contornopfp {
width: 70px;
height: 70px;
border-radius: 120px;
position: absolute;
top: 28%;
left: 10%;
}

#pfp {
width: 180px;
height: 180px;
border-radius: 100%;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 100px;
position: absolute;
}


#pedidos {
 width: 100%;
 height: 90%;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 20%;                                                                                                                                                                                               
}

#user {
width: 100%;
height: 15%;
flex-direction: column;
display: flex;
align-items: center;
justify-content: center;
}

#botonesu {
    width: 100%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#userinfo {
width: 100%;
height: 20%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

p {
color: #595959;
}

.up {
    background-color:  #FF7164;
    border-radius: 14px;
    width: 160px;
    height: 50px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 17px;
    color: white;
}

#down {
    background-color: #F37171;
    border-radius: 30px;
    width: 150px;
    margin-top: 30px;
    height: 40px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
}

.cupon {
    font-size: 22px;
}

#favs {
width: 80%;
height: 46%;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center ;
justify-content: space-around;
}

.product {
    width: 250px;
    height: 230px;
    background: #FFBAB2;
    border-radius: 16%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#buttons {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

#favbutt {
    background-color: #F37171;
    border-radius: 30px;
    width: 200px;
    margin-top: 30px;
    height: 40px;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
}

#favtext {
width: 100%;
height: 28%;
display: flex;
flex-direction: row;
justify-content: center;
justify-content: space-evenly;
align-items: flex-start;
}

.imgproduct {
width: 230px;
height: 210px;
border-radius: 16%;
display: flex;
align-items: center;
justify-content: space-between;
}